<body>
  <!-- <app-navbar></app-navbar> -->

  <div
    class="alert alert-success alert-dismissible d-flex justify-content-center align-items-center fade show mt-2 mb-0 rounded-3 pe-2 text-center"
    role="alert"
  >
    <div class="text-center">
      <img
        alt=""
        class="img-fluid custumer_size"
        src="assets/images/avatar/palastine.jpg"
      />
      <!-- Avatar -->
      <!-- <div class="avatar avatar-xs me-2">
      <img
        class="avatar-img rounded-circle"
        src="assets/images/avatar/09.jpg"
        alt="avatar"
      />
    </div> -->
      <!-- Info -->
      vive palestine, Jamais oublier...
    </div>
    <button
      type="button"
      class="btn btn-link text-primary-hover mb-0 text-end"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="row">
    <div class="mx-2 d-flex justify-content-end me-5">
      <button class="btn btn-danger-soft mb-3 mt-2 me-5" routerLink="/signin">
        <i class="fas fa-sign-in-alt me-2"></i>Se Connecter
      </button>
    </div>
  </div>
  <div class="row">
    <div class="parent-container">
      <img
        src="../../../assets/Template/img/bg1.jpg"
        alt="Background Image"
        class="background-image"
      />
      <img
        src="../../../assets/Home/img/intro-logo.png"
        alt="Overlay Image"
        class="overlay-image"
      />
    </div>
  </div>
  <section id="about" class="top-border-me">
    <div class="section-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mb100">
            <h2 class="section-heading">
              A <span class="text-success">Warm</span> Welcome
            </h2>
            <hr class="thin-hr" />
            <h3 class="section-subheading secondary-font">
              Were very happy to see you.
            </h3>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-1 mt-3">
              <div class="text-center">
                <span class="h4 text-uppercase text-success px-2">ABOUT</span>
                <span class="h4 text-uppercase text-dark px-2 ml-n1"
                  >DUJOUR</span
                >
              </div>
              <p class="mt-3">
                Fish don't fry in the kitchen and beans don't burn on the grill.
                Took a whole lotta tryin' just to get up that hill. Love
                exciting and new. Come aboard were expecting you. Love life's
                sweetest reward Let it flow it floats back to you.
              </p>
              <p>
                Here he comes Here comes Speed Racer. He's a demon on wheels.
                Believe it or not I'm walking on air. I never thought I could
                feel so free. Flying away on a wing and a prayer.
              </p>
            </div>

            <div class="col-md-6 mt-3">
              <div class="text-center">
                <span class="h4 text-uppercase text-success px-2">Latest </span>
                <span class="h4 text-uppercase text-dark px-2 ml-n1"
                  >Awards</span
                >
              </div>
              <p class="mt-3">
                Fish don't fry in the kitchen and beans don't burn on the grill.
                Took a whole lotta tryin' just to get up that hill. Love
                exciting and new. Come aboard were expecting you. Love life's
                sweetest reward Let it flow it floats back to you.
              </p>
              <p>
                Here he comes Here comes Speed Racer. He's a demon on wheels.
                Believe it or not I'm walking on air. I never thought I could
                feel so free. Flying away on a wing and a prayer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light">
    <div class="row">
      <div class="col-sm-12 col-md-6 position-relative">
        <img
          src="../../../assets/Home/img/bg/bg10.jpg"
          class="p-3 custom-rounded dim-brightness"
        />
        <div
          class="overlay-content position-absolute top-50 start-50 translate-middle text-center text-white"
        >
          <div class="text-center">
            <span class="h2 text-uppercase text-white">LOVE</span>
            <span class="h2 text-uppercase text-success px-2 ml-n1"
              >STEAK ?</span
            >
          </div>
          <p>
            Conveniently leverage other's distinctive expertise and backend
            metrics. Progressively harness intuitive systems and ethical niches.
            Continually drive extensible benefits vis-a-vis leading-edge
            meta-services. Conveniently leverage existing market-driven
            outsourcing vis-a-vis e-business process improvements. Intrinsicly
            extend quality interfaces with intermandated innovation.
          </p>
          <p class="mt30">
            <a href="#contact" class="btn btn-success btn-red page-scroll"
              >Book Now</a
            >
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 position-relative">
        <img
          src="../../../assets/Home/img/bg/bg5.jpg"
          alt="Image de fond"
          class="img-fluid w-100 p-3 custom-rounded dim-brightness"
        />
        <div
          class="overlay-content position-absolute top-50 start-50 translate-middle text-center text-white"
        >
          <div class="text-center">
            <span class="h2 text-uppercase text-white px-2">CREATE</span>
            <span class="h2 text-uppercase text-success px-2 ml-n1"
              >MEMORIES ?</span
            >
          </div>
          <p>
            Conveniently leverage other's distinctive expertise and backend
            metrics. Progressively harness intuitive systems and ethical niches.
            Continually drive extensible benefits vis-a-vis leading-edge
            meta-services. Conveniently leverage existing market-driven
            outsourcing vis-a-vis e-business process improvements. Intrinsicly
            extend quality interfaces with intermandated innovation.
          </p>
          <p class="mt30">
            <a href="#contact" class="btn btn-success btn-red page-scroll"
              >View Menu</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Featured Product</h2>
        </div>
        <!-- <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*">All</li>
            <li data-filter=".oranges">Oranges</li>
            <li data-filter=".fresh-meat">Fresh Meat</li>
            <li data-filter=".vegetables">Vegetables</li>
            <li data-filter=".fastfood">Fastfood</li>
          </ul>
        </div> -->
      </div>
    </div>
    <ng-template #noData>
      <div class="text-center p-3">
        <div class="alert alert-warning" role="alert">
          Aucun Article pour le moment...
        </div>
      </div>
    </ng-template>
    <div
      class="row featured__filter mt-4"
      *ngIf="ListeTop10Article && ListeTop10Article.length > 0; else noData"
    >
      <div
        class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat"
        *ngFor="let article of ListeTop10Article"
      >
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            [ngStyle]="{
              'background-image': 'url(' + getImageUrl(article.image) + ')'
            }"
          >
            <ul class="featured__item__pic__hover">
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-retweet"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6>
              <a href="#">{{ article.nom }}</a>
            </h6>
            <h5>{{ article.prix }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>

<div
  class="alert alert-light fade show position-fixed start-0 bottom-0 z-index-99 rounded-3 shadow p-4 ms-3 mb-3 col-10 col-md-4 col-lg-3 col-xxl-2"
  role="alert"
>
  <div class="text-dark text-center">
    <img src="assets/images/element/27.svg" class="h-50px mb-3" alt="cookie" />

    <p class="mb-0">
      This website stores cookies on your computer. To find out more about the
      cookies we use, see our
      <a class="text-dark" href="#"><u> Privacy Policy</u></a>
    </p>

    <div class="mt-3">
      <button
        type="button"
        class="btn btn-success-soft btn-sm mb-0"
        data-bs-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">Accept</span>
      </button>
      <button
        type="button"
        class="btn btn-danger-soft btn-sm mb-0"
        data-bs-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">Decline</span>
      </button>
    </div>
  </div>
</div>
<!-- <div
  class="alert alert-info text-center alert-dismissible fade show mt-2 mb-0 rounded-3"
  role="alert"
>
  <img
    alt=""
    class="img-fluid custumer_size"
    src="assets/images/avatar/palastine.jpg"
  />
</div> -->
