<div class="row">
  <div
    [ngClass]="{
      'col-md-12': !isNotSelected,
      'col-md-8 col-sm-12': isNotSelected
    }"
  >
    <div class="featured__controls">
      <ul>
        <li
          [class.active]="selectedCategory === 'All'"
          (click)="filterArticles('All')"
        >
          All
        </li>
        <li
          *ngFor="let category of categories"
          [class.active]="selectedCategory === category.nom"
          (click)="filterArticles(category.nom)"
        >
          {{ category.nom }}
        </li>
      </ul>
    </div>
    <div class="border-wrapper">
      <div class="row">
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3"
          *ngFor="let article of filteredArticles"
        >
          <div class="card mx-auto">
            <div class="image">
              <img
                [src]="getImageUrl(article.image)"
                class="image-fluid w-100 h-100"
                alt="course image"
              />
            </div>
            <div>
              <span class="title badge text-bg-info p-1 mt-2">{{
                article.nom
              }}</span>
            </div>
            <div class="mt-2">
              <span class="price mt-2">{{ article.description }}</span>
            </div>
            <span class="h6 fw-light mb-2 badge text-bg-success mb-0"
              >Prix : <strong>{{ article.prix }}DT</strong></span
            >
            <button class="add-to-cart-btn" (click)="addToCart(article)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12" *ngIf="isCartVisible && panier.length > 0">
    <div>
      <table>
        <thead>
          <tr>
            <th><h6 class="price">Products</h6></th>
            <th><h6 class="price">Price</h6></th>
            <th><h6 class="price">Quantity</h6></th>
            <th><h6 class="price">Total</h6></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of panier">
            <td class="shoping__cart__item">
              <!-- <img [src]="getImageUrl(item.image)" alt="{{ item.nom }}" /> -->
              <div class="text-center mt-3">
                <h5>
                  <a href="#" class="bg-opacity-10 text-primary">{{
                    item.nom
                  }}</a>
                </h5>
              </div>
            </td>
            <td class="shoping__cart__price">{{ item.prix }}</td>
            <td class="shoping__cart__quantity">
              <div class="quantity">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="decrementQuantity(item)"
                    >
                      -
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control text-center"
                    [(ngModel)]="item.quantite"
                    readonly
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="incrementQuantity(item)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td class="shoping__cart__total">
              {{ calculateItemTotal(item) }} Dt
            </td>
            <td class="shoping__cart__item__close">
              <a
                (click)="removeFromCart(item)"
                class="btn btn-danger-soft me-1 mb-1 mb-md-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="Delete"
              >
                <i class="bi bi-trash text-danger"></i>
              </a>
            </td>
            <td class="shoping__cart__item__close">
              <span class="icon_close"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="shoping__cart__btns">
          <button
            class="btn btn-primary cart-btn me-2"
            (click)="createCommande()"
          >
            Generation du facture
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
